@charset "UTF-8";

.layer{

	list-style-type: none;

}

.layer ul {

	margin: 0;
	
	padding: 0;
	
	list-style-type: none;
	
	position: relative;
	
	margin-left: 15px;
}

.layer ul:before {

	content: "";
	
	display: block;
	
	position: absolute;
	
	top: 0;
	
	bottom: 35px;
	
	left: 0;
	
	width: 0;
	
	border-left: 1px solid red;
}

.layer ul li {

	position: relative;
	
	margin: 0;
	
	padding: 0px 0px 0px 15px;
}

.layer ul li:before {

	content: "";
	
	display: block;
	
	position: absolute;
	
	top: 10px;
	
	left: 0;
	
	width: 15px;
	
	height: 0;
	
	border-top: 1px solid blue;

}

.layer ul li:last-child:before {

	top: 10px;
	
	bottom: 0;
	
	height: auto;
	
	background-color: white;

}