<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>Storage Management App</title>
<link rel="stylesheet" href="js/jzaefferer-jquery-treeview-ea4fd39/jquery.treeview.css">
<link rel="stylesheet" href="css/style.css" type="text/css">
<link rel="icon" href="data:,">
<script type="text/javascript" src="js/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/jzaefferer-jquery-treeview-ea4fd39/jquery.treeview.js"></script>
<script type="text/javascript" src="js/jzaefferer-jquery-treeview-ea4fd39/jquery.treeview.async.js"></script>


</head>
<body>
	<h1>収納管理アプリ</h1>
	<br>
	<input type="button" value="アイテム追加" onclick="createItem()">
	<br>
	
	<div class = "inline-block">
		<div>
			<ul id="tree"></ul>
		</div>
		
		<div>
			<div class = "displayBox">
					<form id = "itemForm" th:object = "${itemForm}">
						<h2>選択アイテム詳細</h2>
						
						<!-- 表示項目 !-->
						<ul>
							<li>
								<label>ID</label>
								<br>
								<input id = "itemId" type = "text" th:field = "*{itemId}" class = "readonly" readonly>
							</li>
							<li>
								<label>親ID</label>
								<br>
								<input id = "parentItemId" type = "text" th:field = "*{parentItemId}" class = "readonly" readonly>
							</li>
						</ul>
						
						<!-- 入力項目 !-->
						<ul>
							<li>
								<label>名称</label>
								<br>
								<input id = "itemName" type = "text" th:field = "*{name}">
								<br>
								<span class = "error" id = "msg_itemName"></span>
							</li>
							<li>
								<label>個数</label>
								<br>
								<input id = "itemNumber" type = "text" th:field = "*{number}">
								<br>
								<span class = "error" id = "msg_itemNumber"></span>
							</li>
							<li>
								<label>分類</label>
								<br>
								<input id = "itemCategory" type = "text" th:field = "*{category}">
								<br>
								<span class = "error" id = "msg_itemCategory"></span>
							</li>
						</ul>
						<ul>
							<li>
								<label>タグ</label>
								<br>
								<input id = "itemTag1" type = "text" th:field = "*{tag1}">
								<br>
								<span class = "error" id = "msg_itemTag1"></span>
							</li>
							<li>
								<br>
								<input id = "itemTag2" type = "text" th:field = "*{tag2}">
								<br>
								<span class = "error" id = "msg_itemTag2"></span>
							</li>
							<li>
								<br>
								<input id = "itemTag3" type = "text" th:field = "*{tag3}">
								<br>
								<span class = "error" id = "msg_itemTag3"></span>
							</li>
						</ul>
						<ul>
							<li>
								<label>メモ</label>
								<br>
								<textarea id = "itemNote" th:field = "*{note}" cols="30" rows="15"></textarea>
								<br>
								<span class = "error" id = "msg_itemNote"></span>
							</li>
							<li>
								<label>画像</label>
								<br>
								<input id = "pictureId" type = "text" th:field = "*{pictureId}">
								<br>
								<div class = "image">No image</div>
								<br>
								<span class = "error" id = "msg_pictureId"></span>
							</li>
						</ul>
						
						<!-- 非表示項目 !-->
						<ul>
							<li>
								<input id = "childNo" type = "hidden" th:field = "*{childNo}">
							</li>
						</ul>
						
						<!-- ボタン !-->
						<div style = "text-align: center;">
							<input type="button" id = "btnUpdate" value="登録" onclick="updateItem()">
							<input type="button" id = "btnDelete" value="削除" onclick="deleteItem()">
						</div>
					</form>
			</div>
		</div>
	</div>

</body>
</html>

<script>
	window.onload = function() {
		updateTree();
	};
	function updateTree(){
	    $("#tree").empty();
	    $("#tree").unbind();
	    $("#tree").treeview({
	      tree: 100,
	      url: "storage_app/tree" 
		});
	}
	
	// アイテム情報取得
	function getItem(id){
		//アイテム情報のクリア
		createItem();
		
		$.ajax({
			type		: "GET",
			url			: "storage_app/" + id,
			dataType	: "json",
			success		: function(data) {
							getItemSuccess(data);
						},
			error		: function(XMLHttpRequest, textStatus, errorThrown) {
							error(XMLHttpRequest, textStatus, errorThrown);
						}
		});
	};
	
	// アイテム情報取得 Ajax通信成功時処理
	function getItemSuccess(data) {
		//alert("success:" + data);
	
		document.getElementById("itemName").value = data.name;
		document.getElementById("itemCategory").value = data.category;
		document.getElementById("itemNumber").value = data.number;
		document.getElementById("itemNote").value = data.note;
		document.getElementById("itemTag1").value = data.tag1;
		document.getElementById("itemTag2").value = data.tag2;
		document.getElementById("itemTag3").value = data.tag3;
		document.getElementById("pictureId").value = data.pictureId;
		document.getElementById("itemId").value = data.itemId;
		document.getElementById("parentItemId").value = data.parentItemId;
		document.getElementById("childNo").value = data.childNo;
		
		//アイテムの編集可否を切り替え
		if(data.parentItemId == 0){
			//ルートノードの場合は編集不可
			changeItemUpdateStatus(false);
		}
		else{
			changeItemUpdateStatus(true);
		}	
	}
	
	// アイテム情報登録
	function updateItem(){
		//エラーメッセージのクリア
		clearErrorMessages();
		
		//登録するアイテムID、アイテム名の保持
		let updId = document.getElementById("itemId").value;
		let updName = document.getElementById("itemName").value;
		
		if(updId == ''){
			//新規登録
			$.ajax({
				type		: "POST",
				url			: "storage_app/insert",
				dataType	: "json",
				data        : $("form").serialize(),
				success		: function(data) {
								//alert("success:" + data);
								if(data.length > 0){
									//エラーありの場合、エラーメッセージ表示
									displayErrorMessages(data);
								}
								else{
									//エラーなしの場合、画面初期化
									updateTree();	
								}
							},
				error		: function(XMLHttpRequest, textStatus, errorThrown) {
								error(XMLHttpRequest, textStatus, errorThrown);
							}
			});
		}
		else{
			//更新
			$.ajax({
				type		: "POST",
				url			: "storage_app/update",
				dataType	: "json",
				data        : $("form").serialize(),
				success		: function(data) {
								//alert("success:" + data);
								if(data.length > 0){
									//エラーありの場合、エラーメッセージ表示
									displayErrorMessages(data);
								}
								else{
									//エラーなしの場合、TreeView上のアイテム名を最新化
									document.querySelector('#n' + updId + ' span a').textContent = updName;
								}
							},
				error		: function(XMLHttpRequest, textStatus, errorThrown) {
								error(XMLHttpRequest, textStatus, errorThrown);
							}
			});
		}
	};

	// アイテム情報削除
	function deleteItem(){
		$.ajax({
			type		: "POST",
			url			: "storage_app/delete",
			dataType	: "text",
			data        : {itemId : document.getElementById("itemId").value},
			success		: function(data) {
								//alert("success:" + data);
								updateTree();
								clearItem();
						},
			error		: function(XMLHttpRequest, textStatus, errorThrown) {
							error(XMLHttpRequest, textStatus, errorThrown);
						}
		});
	};


	// Ajax通信失敗時処理
	function error(XMLHttpRequest, textStatus, errorThrown) {
		alert("error:" + XMLHttpRequest);
		alert("status:" + textStatus);
		alert("errorThrown:" + errorThrown);
	}
	
	//アイテム追加
	function createItem(){
		//選択中のアイテムIDを親IDに設定
		parentItemId = document.getElementById("itemId").value;
		
		//アイテム登録フォームの初期化
		clearItem();
		document.getElementById("parentItemId").value = parentItemId;
		
		//エラーメッセージのクリア
		clearErrorMessages();
		
		//アイテム情報を編集可にする
		changeItemUpdateStatus(true);
	}

	//アイテム登録フォームの初期化
	function clearItem(){
		document.getElementById("itemName").value = null;
		document.getElementById("itemCategory").value = null;
		document.getElementById("itemNumber").value = null;
		document.getElementById("itemNote").value = null;
		document.getElementById("itemTag1").value = null;
		document.getElementById("itemTag2").value = null;
		document.getElementById("itemTag3").value = null;
		document.getElementById("pictureId").value = null;
		document.getElementById("itemId").value = null;
		document.getElementById("parentItemId").value = null;
		document.getElementById("childNo").value = null;
		
		//エラーメッセージのクリア
		clearErrorMessages();
	}
	
	//エラーメッセージのクリア
	function clearErrorMessages(errors){
		document.getElementById("msg_itemName").textContent = null;
		document.getElementById("msg_itemCategory").textContent = null;
		document.getElementById("msg_itemNumber").textContent = null;
		document.getElementById("msg_itemNote").textContent = null;
		document.getElementById("msg_itemTag1").textContent = null;
		document.getElementById("msg_itemTag2").textContent = null;
		document.getElementById("msg_itemTag3").textContent = null;
		document.getElementById("msg_pictureId").textContent = null;
	}
	
	//エラーメッセージの表示
	function displayErrorMessages(errors){
		for(let i = 0; i < errors.length; i++){
			var error = errors[i].split('：'); //error[0]:エラー項目 error[1]:エラーメッセージに分割
			document.getElementById('msg_' + error[0]).textContent = error[1];
		}
	}
	
	//アイテム情報の編集可否を切り替え（readOnly == trueの場合、編集可）
	function changeItemUpdateStatus(canChange){
		if(canChange == true){
			readOnly = false;
			disabled = false;
			
			document.getElementById("itemName").classList.remove("readonly");
			document.getElementById("itemCategory").classList.remove("readonly");
			document.getElementById("itemNumber").classList.remove("readonly");
			document.getElementById("itemNote").classList.remove("readonly");
			document.getElementById("itemTag1").classList.remove("readonly");
			document.getElementById("itemTag2").classList.remove("readonly");
			document.getElementById("itemTag3").classList.remove("readonly");
			document.getElementById("pictureId").classList.remove("readonly");
		}
		else{
			readOnly = true;
			disabled = true;
			
			document.getElementById("itemName").classList.add("readonly");
			document.getElementById("itemCategory").classList.add("readonly");
			document.getElementById("itemNumber").classList.add("readonly");
			document.getElementById("itemNote").classList.add("readonly");
			document.getElementById("itemTag1").classList.add("readonly");
			document.getElementById("itemTag2").classList.add("readonly");
			document.getElementById("itemTag3").classList.add("readonly");
			document.getElementById("pictureId").classList.add("readonly");
		}
		
		document.getElementById("itemName").readOnly = readOnly;
		document.getElementById("itemCategory").readOnly = readOnly;
		document.getElementById("itemNumber").readOnly = readOnly;
		document.getElementById("itemNote").readOnly = readOnly;
		document.getElementById("itemTag1").readOnly = readOnly;
		document.getElementById("itemTag2").readOnly = readOnly;
		document.getElementById("itemTag3").readOnly = readOnly;
		document.getElementById("pictureId").readOnly = readOnly;
		
		document.getElementById("btnUpdate").disabled = disabled;
		document.getElementById("btnDelete").disabled = disabled;
	}

</script>


