<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>Storage Management App</title>
<link rel="stylesheet" href="js/jzaefferer-jquery-treeview-ea4fd39/jquery.treeview.css">
<link rel="stylesheet" href="css/style.css" type="text/css">
<link rel="icon" href="data:,">
<script type="text/javascript" src="js/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/jzaefferer-jquery-treeview-ea4fd39/jquery.treeview.js"></script>
<script type="text/javascript" src="js/jzaefferer-jquery-treeview-ea4fd39/jquery.treeview.async.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</head>
<body>
	<h1>収納管理アプリ</h1>
	<br>
	<input type="button" value="アイテム追加" onclick="createItem()">
	<br>
	
	<div class = "inline-block">
		<div>
			<ul id="tree"></ul>
		</div>
		
		<div>
			<div class = "displayBox">
					<form id = "itemForm" th:object = "${itemForm}">
						<h2>選択アイテム詳細</h2>
						
						<!-- 表示項目 !-->
						<ul>
							<li>
								<label>ID</label>
								<br>
								<input id = "itemId" type = "text" th:field = "*{itemId}" class = "readonly" readonly>
							</li>
							<li>
								<label>親ID</label>
								<br>
								<input id = "parentItemId" type = "text" th:field = "*{parentItemId}" class = "readonly" readonly>
							</li>
						</ul>
						
						<!-- 入力項目 !-->
						<ul>
							<li>
								<label>名称</label>
								<br>
								<input id = "itemName" type = "text" th:field = "*{name}">
								<br>
								<span class = "error" id = "msg_itemName"></span>
							</li>
							<li>
								<label>個数</label>
								<br>
								<input id = "itemNumber" type = "text" th:field = "*{number}">
								<br>
								<span class = "error" id = "msg_itemNumber"></span>
							</li>
							<li>
								<label>分類</label>
								<br>
								<input id = "itemCategory" type = "text" th:field = "*{category}">
								<br>
								<span class = "error" id = "msg_itemCategory"></span>
							</li>
						</ul>
						<ul>
							<li>
								<label>タグ</label>
								<br>
								<input id = "itemTag1" type = "text" th:field = "*{tag1}">
								<br>
								<span class = "error" id = "msg_itemTag1"></span>
							</li>
							<li>
								<br>
								<input id = "itemTag2" type = "text" th:field = "*{tag2}">
								<br>
								<span class = "error" id = "msg_itemTag2"></span>
							</li>
							<li>
								<br>
								<input id = "itemTag3" type = "text" th:field = "*{tag3}">
								<br>
								<span class = "error" id = "msg_itemTag3"></span>
							</li>
						</ul>
						<ul>
							<li>
								<label>メモ</label>
								<br>
								<textarea id = "itemNote" th:field = "*{note}" cols="30" rows="15"></textarea>
								<br>
								<span class = "error" id = "msg_itemNote"></span>
							</li>
							<li>
								<label>画像</label>
								<br>
								<input id = "pictureId" type = "text" th:field = "*{pictureId}">
								<br>
								<div class = "image">No image</div>
								<br>
								<span class = "error" id = "msg_pictureId"></span>
							</li>
						</ul>
						
						<!-- 非表示項目 !-->
						<ul>
							<li>
								<input id = "childNo" type = "hidden" th:field = "*{childNo}">
							</li>
						</ul>
						
						<!-- ボタン !-->
						<div style = "text-align: center;">
							<input type="button" id = "btnUpdate" value="登録" onclick="updateItem()">
							<input type="button" id = "btnDelete" value="削除" onclick="deleteItem()">
						</div>
					</form>
			</div>
		</div>
	</div>

</body>
</html>
